@page "/"
@using FleetDashClient.Services
@using FleetDashClient.ViewModels
@inject ICharacterService _characterService
@inject IndexViewModel _indexViewModel

<LogSettings />

<div id="account-list">
    <div class="account-status">Status</div>
    <div class="account-name">Name</div>
    <div class="account-remove-btn">Remove</div>
    <hr style="height: 2px;"/>
    @if (_indexViewModel.Characters.Count == 0)
    {
        <p class="account-name">
            <em>No accounts setup yet.</em>
        </p>
    }
    else
    {
        @foreach (var character in _indexViewModel.Characters)
        {
            <CharacterRow Character=character
                          Status=_characterService.GetCharacterStatus(character.Id)
                          DeleteCharacterHook=_indexViewModel.RemoveCharacterAsync
                          RefreshList=RefreshList/>
            <hr/>
        }
    }
</div>


<img id="eve-login-btn" src="/images/eve-sso-login-black-large.png" @onclick="StartAuth"/>


@code {
    private void RefreshList()
    {
        StateHasChanged();
    }

    private async Task StartAuth()
    {
        await _indexViewModel.StartAuthAsync();
        StateHasChanged();
    }
}