@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <h2 class="pull-left">FleetDash</h2>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>